* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  margin: 100px auto;
}
table {
  margin: auto;
}
.cell {
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.cell:hover {
  background-color: rgb(154, 154, 229);
}
